
@{
    ViewBag.Title = "RFP Management";
}

<h1>This is the RFP Management page</h1><br />

<h3>Page synopsis</h3>
<p>
    This is the page the employee will use to create and edit RFPs. This page will list all
    of the existing RFPs and will provide sort and filter options.  Each existing RFP will have an 'Edit'
    link next to it.  There will 'Create new RFP' and 'Return to Dashboard' links as well.  This page
    will be the same for employee and admin users.
</p>

<br />

<p>From here, there are 4 possibilities:</p>

<ul>
    <li>The user selects the 'Create New RFP' link</li>
    <li>The user selects the 'Edit' link next to an existing RFP</li>
    <li>The user is an admin and returns to their dashboard</li>
    <li>The user is an employee and returns to their dashboard</li>
</ul>

<br />

<h3>Links</h3>
@Html.ActionLink("Create New RFP", "Create", "EmployeeRFP")<br />
@Html.ActionLink("Edit Existing RFP", "Update", "EmployeeRFP")<br />
@Html.ActionLink("Return to Dashboard (Admin)", "Index", "Admin")<br />
@Html.ActionLink("Return to Dashboard (Employee)", "Index", "Employee")<br />

<br />

<h3>Backend Information</h3>
<h5>Controller: EmployeeRFP</h5>
<h5>Method: Index</h5>

