
@{
    ViewBag.Title = "Employee Maintanence";
}

<h1>This is the Employee Maintanence Dashboard</h1><br />

<h3>Page synopsis</h3>
<p>
    This is the page the admin will use to create, lock and edit employee users.  This dashboard
    will list all of the current employees in the system.  Each employee will have an edit and lock
    link next to their name.  There will also be a link to create a new employee.  The admin will 
    also have the option to return to their dashboard.
</p>

<br />

<p>From here, there are 4 possibilities:</p>

<ul>
    <li>The admin selects the 'Create New Employee' link</li>
    <li>The admin selects the 'Edit' link next to an Employee</li>
    <li>The admin selects the 'Lock' link next to an Employee</li>
    <li>The admin returns to their dashboard</li>
</ul>

<br />

<h3>Links</h3>
@Html.ActionLink("Create New Employee", "Create", "AdminEmployee")<br />
@Html.ActionLink("Edit Selected Employee", "Update", "AdminEmployee")<br />
@Html.ActionLink("Lock Selected Employee", "Lock", "AdminEmployee")<br />
@Html.ActionLink("Return to Dashboard", "Index", "Admin")<br />

<br />

<h3>Backend Information</h3>
<h5>Controller: AdminEmployee</h5>
<h5>Method: Index</h5>

