
@{
    ViewBag.Title = "Lock Selected Employee";
}

<h1>This is the Lock Selected Employee page</h1><br />

<h3>Page synopsis</h3>
<p>
    This is the page the employee will use to lock the selected employee out of the system. This
    feature will more than likely not need a view, but the method will simply lock the employee
    when the 'Lock' button is clicked on the employee maintanence dashboard.
    If that is the case, the view will simply act as a placeholder until the feature
    is implemented.
</p>

<br />

<p>From here, there is one possibility:</p>

<ul>
    <li>The admin locks the selected Employee out of the system and is sent back to Employee Maintanence</li>
</ul>

<br />

<h3>Links</h3>
@Html.ActionLink("Return to Employee Maintanence", "Index", "AdminEmployee")<br />

<br />

<h3>Backend Information</h3>
<h5>Controller: AdminEmployee</h5>
<h5>Method: Lock</h5>

