
@{
    ViewBag.Title = "Create an RFI";
}

<h1>This is the RFI Creation page</h1><br />

<h3>Page synopsis</h3>
<p>
    This is the page the employee will use to create a new RFI. This page will list all
    of the fields that need to be filled out in order to create an RFI.  Validation will exist on each
    filed to ensure there are no data issues.  When the 'Create' link is selected, the RFI will be added
    to the system.  There will also be a 'Return to RFI Management' link.
</p>

<br />

<p>From here, there are 2 possibilities:</p>

<ul>
    <li>The user creates an RFI and is sent back to RFI management</li>
    <li>The user does not create an RFI and returns to RFI management</li>
</ul>

<br />

<h3>Links</h3>
@Html.ActionLink("Return to RFI Management", "Index", "EmployeeRFI")<br />

<br />

<h3>Backend Information</h3>
<h5>Controller: EmployeeRFI</h5>
<h5>Method: Create</h5>

