
@{
    ViewBag.Title = "RFI Management";
}

<h1>This is the RFI Management page</h1><br />

<h3>Page synopsis</h3>
<p>
    This is the page the employee will use to create and edit RFIs. This page will list all
    of the existing RFIs and will provide sort and filter options.  Each existing RFI will have an 'Edit'
    link next to it.  There will 'Create new RFI' and 'Return to Dashboard' links as well.  This page 
    will be the same for employee and admin users.
</p>

<br />

<p>From here, there are 4 possibilities:</p>

<ul>
    <li>The user selects the 'Create New RFI' link</li>
    <li>The user selects the 'Edit' link next to an existing RFI</li>
    <li>The user is an admin and returns to their dashboard</li>
    <li>The user is an employee and returns to their dashboard</li>
</ul>

<br />

<h3>Links</h3>
@Html.ActionLink("Create New RFI", "Create", "EmployeeRFI")<br />
@Html.ActionLink("Edit Existing RFI", "Update", "EmployeeRFI")<br />
@Html.ActionLink("Return to Dashboard (Admin)", "Index", "Admin")<br />
@Html.ActionLink("Return to Dashboard (Employee)", "Index", "Employee")<br />

<br />

<h3>Backend Information</h3>
<h5>Controller: EmployeeRFI</h5>
<h5>Method: Index</h5>

