
@{
    ViewBag.Title = "RFP Management";
}

<h1>This is the RFP Management page</h1><br />

<style type="text/css">
    .tg {
        border-collapse: collapse;
        border-spacing: 0;
        border-color: #999;
    }

        .tg td {
            font-family: Arial, sans-serif;
            font-size: 14px;
            padding: 12px 12px;
            border-style: solid;
            border-width: 0px;
            overflow: hidden;
            word-break: normal;
            border-color: #999;
            color: #444;
            background-color: #F7FDFA;
            border-top-width: 1px;
            border-bottom-width: 1px;
        }

        .tg th {
            font-family: Arial, sans-serif;
            font-size: 14px;
            font-weight: normal;
            padding: 12px 12px;
            border-style: solid;
            border-width: 0px;
            overflow: hidden;
            word-break: normal;
            border-color: #999;
            color: #fff;
            background-color: #26ADE4;
            border-top-width: 1px;
            border-bottom-width: 1px;
        }

        .tg .tg-nrw8 {
            font-size: 14px;
        }
</style>
<table class="tg">
    <tr>
        <th class="tg-nrw8">#</th>
        <th class="tg-031e">RFP</th>
        <th class="tg-031e">Description</th>
        <th class="tg-031e">Status</th>
    </tr>
    <tr>
        <td class="tg-031e">1</td>
        <td class="tg-031e">Placeholder</td>
        <td class="tg-031e">Placeholder</td>
        <td class="tg-031e">Placeholder</td>
    </tr>
    <tr>
        <td class="tg-031e">2</td>
        <td class="tg-031e">Placeholder</td>
        <td class="tg-031e">Placeholder</td>
        <td class="tg-031e">Placeholder</td>
    </tr>
    <tr>
        <td class="tg-031e">3</td>
        <td class="tg-031e">Placeholder</td>
        <td class="tg-031e">Placeholder</td>
        <td class="tg-031e">Placeholder</td>
    </tr>
    <tr>
        <td class="tg-031e">4</td>
        <td class="tg-031e">Placeholder</td>
        <td class="tg-031e">Placeholder</td>
        <td class="tg-031e">Placeholder</td>
    </tr>
    <tr>
        <td class="tg-031e">5</td>
        <td class="tg-031e">Placeholder</td>
        <td class="tg-031e">Placeholder</td>
        <td class="tg-031e">Placeholder</td>
    </tr>
    <tr>
        <td class="tg-031e">6</td>
        <td class="tg-031e">Placeholder</td>
        <td class="tg-031e">Placeholder</td>
        <td class="tg-031e">Placeholder</td>
    </tr>
    <tr>
        <td class="tg-031e">7</td>
        <td class="tg-031e">Placeholder</td>
        <td class="tg-031e">Placeholder</td>
        <td class="tg-031e">Placeholder</td>
    </tr>
    <tr>
        <td class="tg-031e">8</td>
        <td class="tg-031e">Placeholder</td>
        <td class="tg-031e">Placeholder</td>
        <td class="tg-031e">Placeholder</td>
    </tr>
    <tr>
        <td class="tg-031e">9</td>
        <td class="tg-031e">Placeholder</td>
        <td class="tg-031e">Placeholder</td>
        <td class="tg-031e">Placeholder</td>
    </tr>
    <tr>
        <td class="tg-031e">10</td>
        <td class="tg-031e">Placeholder</td>
        <td class="tg-031e">Placeholder</td>
        <td class="tg-031e">Placeholder</td>
    </tr>
</table>
<div class="btn-group">
    <button type="button" class="btn btn-default">@Html.ActionLink("Create New RFP", "Create", "EmployeeRFP")</button>
    <button type="button" class="btn btn-default">@Html.ActionLink("Edit Existing RFP", "Update", "EmployeeRFP")</button>
    <button type="button" class="btn btn-default">@Html.ActionLink("Return to Dashboard (Employee)", "Index", "Employee")</button>
    <button type="button" class="btn btn-default">@Html.ActionLink("Return to Dashboard (Admin)", "Index", "Admin")</button>
</div>

<h3>Page synopsis</h3>
<p>
    This is the page the employee will use to create and edit RFPs. This page will list all
    of the existing RFPs and will provide sort and filter options.  Each existing RFP will have an 'Edit'
    link next to it.  There will 'Create new RFP' and 'Return to Dashboard' links as well.  This page
    will be the same for employee and admin users.
</p>

<br />

<p>From here, there are 4 possibilities:</p>

<ul>
    <li>The user selects the 'Create New RFP' link</li>
    <li>The user selects the 'Edit' link next to an existing RFP</li>
    <li>The user is an admin and returns to their dashboard</li>
    <li>The user is an employee and returns to their dashboard</li>
</ul>

<h3>Backend Information</h3>
<h5>Controller: EmployeeRFP</h5>
<h5>Method: Index</h5>

