
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <div> 
        <h1>Employee RFI Page</h1>
        <p>Create new link and other functions.</p>
    </div>
</body>
</html>
