
@{
    ViewBag.Title = "Vendor RFP Management";
}

<h1>This is the Vendor RFP Management page</h1><br />

<h3>Page synopsis</h3>
<p>
    This is the page the vendor will use to respond to and decline RFPs. This page will list all
    of the existing RFPs that are associated with the logged in vendor.  All RFPs that have been responded to but
    are still in the system with have a tag labelled 'Pending'.  All RFPs that have been responded to and have expired
    will be tagged as 'Complete'.  All RFPs that have not been responded to but have expired will be tagged
    as 'Expired'.  All the RFIs that have not expired or been responded to will 2 links next to them: Respond and Decline.
</p>

<br />

<p>From here, there are 3 possibilities:</p>

<ul>
    <li>The vendor selects the 'Respond' link next to an open RFP</li>
    <li>The vendor selects the 'Decline' link next to an open RFP</li>
    <li>The vendor returns to their dashboard</li>
</ul>

<br />

<h3>Links</h3>
@Html.ActionLink("Respond to Selected RFP", "Respond", "VendorRFP")<br />
@Html.ActionLink("Decline Selected RFP", "Decline", "VendorRFP")<br />
@Html.ActionLink("Return to Dashboard", "Index", "Vendor")<br />

<br />

<h3>Backend Information</h3>
<h5>Controller: VendorRFP</h5>
<h5>Method: Index</h5>

