
@{
    ViewBag.Title = "Update Vendor";
}

<h1>This is the Update Selected Vendor page</h1><br />

<h3>Page synopsis</h3>
<p>
    This is the page the employee will use to make changes to the vendor they selected on the
    Vendor Management Dashboard.  They will be able to update all of the basic information (such 
    as address, contact info) as well as change their status (pending, qualified, disqualified) and 
    to approve them for different product categories.  This page will be the same for both employee 
    and admin users. There will be a 'Return to Dashboard' link at the top.
</p>

<br />

<p>From here, there are 2 possibilities:</p>

<ul>
    <li>The employee/admin makes changes to the vendor</li>
    <li>The employee/admin doesn't make any changes</li>
</ul>

<br />

<h3>Links</h3>
@Html.ActionLink("Return to Vendor Management", "Index", "EmployeeVendor")<br />

<br />

<h3>Backend Information</h3>
<h5>Controller: EmployeeVendor</h5>
<h5>Method: Update</h5>

