
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    @Html.ActionLink("Profile", "Profile", "Employee")
</head>
<body>
    <ul>
        <li>@Html.ActionLink("Requests for Information", "Index", "EmployeeRFI")</li>
        <li>@Html.ActionLink("Requests for Proposal", "Index", "EmployeeRFP")</li>
        <li>@Html.ActionLink("Contracts", "Index", "EmployeeContracts")</li>
    </ul>
    <div> 
        <h1>Employee's Dashboard.</h1>
            <p>Provide links to all the tools (RFI, RFP, Contracts), their profiles, calendar and reports.</p>

    </div>
</body>
</html>
