
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Profile</title>
</head>
<body>
    <div> 
        <h1>Employee Profile</h1>
            <p>Profile Attributes go here. Should have an option to change.</p>
            <p>Link to add catalog.</p>
    </div>
</body>
</html>
