
@{
    ViewBag.Title = "Decline RFI";
}

<h1>Decline Selected RFI</h1><br />

<h3>Page synopsis</h3>
<p>
    This is the page the vendor will use to respond decline a selected RFI.  This screen will list all of
    the information regarding the RFI and will a button for the vendor to decline responding to the RFI.
    There will also be a link to return to the Vendor RFI dashboard without declining
</p>

<br />

<p>From here, there are 2 possibilities:</p>

<ul>
    <li>The vendor declines the RFI and is returned to the RFI dashboard</li>
    <li>The vendor does not decline the RFI and returns to the RFI dashboard</li>
</ul>

<br />

<h3>Links</h3>
@Html.ActionLink("Return to Vendor RFI Dashboard", "Index", "VendorRFI")<br />


<br />

<h3>Backend Information</h3>
<h5>Controller: VendorRFI</h5>
<h5>Method: Decline</h5>

