
@{
    ViewBag.Title = "Respond to RFI";
}

<h1>Respond to Selected RFI</h1><br />

<h3>Page synopsis</h3>
<p>
    This is the page the vendor will use to respond to a selected RFI.  This screen will list all of
    the information regarding the RFI and will provide inputs to upload the required documents. The
    vendor will be returned to the vendor RFI dashboard upon completing the form.
</p>

<br />

<p>From here, there are 2 possibilities:</p>

<ul>
    <li>The vendor responds to the RFI and is returned to the RFI dashboard</li>
    <li>The vendor does not respond to the RFI and returns to the RFI dashboard</li>
</ul>

<br />

<h3>Links</h3>
@Html.ActionLink("Return to Vendor RFI Dashboard", "Index", "VendorRFI")<br />


<br />

<h3>Backend Information</h3>
<h5>Controller: VendorRFI</h5>
<h5>Method: Respond</h5>
