
@{
    ViewBag.Title = "Respond to RFP";
}

<h1>Respond to Selected RFP</h1><br />

<h3>Page synopsis</h3>
<p>
    This is the page the vendor will use to respond to a selected RFP.  This screen will list all of
    the information regarding the RFP and will provide inputs to upload the required documents. The
    vendor will be returned to the vendor RFP dashboard upon completing the form.
</p>

<br />

<p>From here, there are 2 possibilities:</p>

<ul>
    <li>The vendor responds to the RFP and is returned to the RFP dashboard</li>
    <li>The vendor does not respond to the RFP and returns to the RFP dashboard</li>
</ul>

<br />

<h3>Links</h3>
@Html.ActionLink("Return to Vendor RFP Dashboard", "Index", "VendorRFP")<br />


<br />

<h3>Backend Information</h3>
<h5>Controller: VendorRFP</h5>
<h5>Method: Respond</h5>
