@{
    ViewBag.Title = "Employee Dashboard";
}

<h1>This is the Reports Dashboard</h1><br />

<h3>Page synopsis</h3>
<p>
    This is the page the user will use to create new reports.  These reports will be customizable
    based on the criteria needed by the user.  This screen will list the reports that currently exist.
    The user will be able to download any report that currently exists or create a new one with the
    'Create New Report' link.  The user will also have the option to return to their dashboard
</p>

<br />

<p>From here, there are 4 possibilities:</p>

<ul>
    <li>The user selects the 'Create New Report' link</li>
    <li>The user selects the 'Download' link next to an existing report</li>
    <li>The user is an admin and returns to their dashboard</li>
    <li>The user is an employee and returns to their dashboard</li>
</ul>

<br />

<h3>Links</h3>
@Html.ActionLink("Create New Report", "Create", "EmployeeReport")<br />
@Html.ActionLink("Download Existing Report", "Download", "EmployeeReport")<br />
@Html.ActionLink("Return to Dashboard (Admin)", "Index", "Admin")<br />
@Html.ActionLink("Return to Dashboard (Employee)", "Index", "Employee")<br />

<br />

<h3>Backend Information</h3>
<h5>Controller: EmployeeReport</h5>
<h5>Method: Index</h5>

