
@{
    ViewBag.Title = "Update Contract";
}

<h1>This is the Update Selected Contract page</h1><br />

<h3>Page synopsis</h3>
<p>
    This is the page the employee will use to edit an existing contract. This page will list all
    of the attributes that exist for the selected Contract.  Validation will exist on each
    field to ensure there are no data issues.  When the 'Update' link is selected, the changes
    will be saved.  There will also be a 'Return to Contract Management' link.
</p>

<br />

<p>From here, there are 2 possibilities:</p>

<ul>
    <li>The user edits the selected Contract and is sent back to Contract management</li>
    <li>The user does not edit the Contract and returns to Contract management</li>
</ul>

<br />

<h3>Links</h3>
@Html.ActionLink("Return to Contract Management", "Index", "EmployeeContract")<br />

<br />

<h3>Backend Information</h3>
<h5>Controller: EmployeeContract</h5>
<h5>Method: Update</h5>

