
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h1>Employee RFP</h1> 
            <p>Basic page with links.</p>
        @Html.ActionLink("Create New RFP", "Create", "EmployeeRFP")
    </div>
</body>
</html>
